@using BOL;
@{
    ViewData["Title"] = "Display All Employees";
}

<div class="text-center">
    @{
        List<Employees> emplist = new List<Employees>();
        emplist = (List<Employees>)this.ViewData["Employee"];
        
  
            <table border=3px style="border-style: groove; ">

                <thead>
                    <tr>
                        <td>EMPLOYEE NO.</td>
                        <td>EMPLOYEE NAME</td>
                        <td>JOB</td>
                    </tr>
                </thead>
                <tbody> 
          @{foreach(Employees emp in emplist){              
                <tr>
    
                    <td><p>@emp.Empno</p></td>
                    <td><p>@emp.Ename</p></td>
                    <td><p>@emp.Job</p></td>
                </tr>
                            }}
                </tbody>
            </table>
    }
</div>