@{
    ViewData["Title"] = "Home Page";
}
<style>
    .text-center{
        background-image: url("C:\Users\Nikhil\Desktop\Dotnet\HRSolution\WebApp\wwwroot\Images\IMG2.jpg") ;
        width:100%;
        height:100%;
    }
</style>
<div class="text-center" style="background-image: url(C:\Users\Nikhil\Desktop\Dotnet\HRSolution\WebApp\wwwroot\Images\IMG2.jpg); width:100%">
    <h1 class="display-4">Welcome</h1>
    <p><h2>Lets start with our favourite shopping...</h2></p>
</div>
