@{
    ViewData["Title"] = "Delete Page";
    }
    <html>
        <form>
            Enetr Id:<input type="text" name="pid"/>
            <input type="submit" value="submit"/>
        </form>
    </html>