<form method="post">
    Id:<input type="number" name="ID">
    <br>
    FirstName:<input type="text" name="FirstName">
    <br>
    LastName:<input type="text" name="LastName">
    <br>
    <button type="submit">Update</button>
</form>